<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->

    <a href="http://forzaerp.nl" class="pull-left"><img src="/assets/img/logo.gif" width="200"></a>


    <a class="navbar-link" href="/home/login">Login</a>


    <a class=" nav-link" href="/Index/index">Home</a>
    <a class=" nav-link" href="/CS/index">Customer Service</a>
    <a class=" nav-link" href="/Finance/index">Finance</a>


    <a class="nav-link" href="/Logistics/index">Logistics</a>

    <a class="nav-link" href="/Sales/index">Sales</a>

    <a class="nav-link" href="/Warehouse/index">Warehouse</a>
    <a class="nav-link" href="/Warranty/index">Warranty</a>

    <a class="nav-link" href="/Returns/index">Returns</a>
    <a class="nav-link" href="/Realestate/index">Real Estate</a>

    <a class="nav-link" href="/Admin/index">Admin</a>



</nav>




<div class="container-fluid">
    <div class="row">








        <div class="col-md-8">


            {% block body %}





            {% endblock %}
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>

